In [1]:
%pip install pandas
%pip install numpy
%pip install matplotlib

/bin/bash: pip: command not found
/bin/bash: pip: command not found
/bin/bash: pip: command not found

In [4]:
import openpyxl 
import pandas as pd
import io

In [8]:
#df = pd.read_csv(io.BytesIO(uploaded['Inmuebles.xlsx']), index_col=2) 
df = pd.read_excel('Inmuebles.xlsx', index_col=5) 
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3337 entries, 291 to 254
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Referencia    3337 non-null   int64
 1   Fecha Alta    3337 non-null   datetime64[ns]
 2   Tipo          3337 non-null   object
 3   Operación     3337 non-null   object
 4   Provincia     3337 non-null   object
 5   Precio Venta  3337 non-null   int64
 6   Fecha Venta   2759 non-null   datetime64[ns]
 7   Vendedor      2759 non-null   object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 234.6+ KB

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Precio Venta,Fecha Venta,Vendedor
Superficie,,,,,,,,
291,1,2004-01-01,Parking,Alquiler,Lleida,2133903,2004-06-19,Carmen
199,2,2004-01-01,Local,Venta,Girona,1945424,2004-04-19,Pedro
82,3,2004-01-01,Oficina,Alquiler,Girona,712416,2004-11-08,Joaquín
285,4,2004-01-02,Parking,Alquiler,Girona,1815450,2004-04-27,Jesús
152,5,2004-01-02,Suelo,Venta,Tarragona,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...
221,3333,2007-04-29,Industrial,Alquiler,Lleida,1450644,NaT,NaN
55,3334,2007-04-29,Piso,Alquiler,Girona,454080,NaT,NaN
78,3335,2007-04-30,Suelo,Venta,Tarragona,740688,NaT,NaN
88,3336,2007-04-30,Piso,Alquiler,Barcelona,397408,NaT,NaN
254,3337,2007-04-30,Parking,Venta,Lleida,2140712,NaT,NaN

In [12]:
filtro1=df[df["Operación"] == "Venta"]
filtro1 
filtro1.to_csv("Filtro1")

In [14]:
filtro2= df.iloc[1:100,: ]
filtro2
filtro1.to_csv("Filtro2")

In [19]:
filtro3=df[(df["Operación"] == "Venta") & (df["Tipo"] == "Oficina")]
filtro3
filtro3.to_csv("Filtro3")

In [23]:
filtro4=df[(df["Provincia"] == "Barcelona") & (df["Vendedor"] == "Carmen")]
filtro4
filtro4.to_csv("Filtro4.csv")

In [28]:
#Filtro por columnas
filtro5=df.iloc[ : , 2:7]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro5 
filtro5.to_csv("Filtro5.csv")

In [30]:
#Filtro por cabecera
filtro6=df.head(5)
filtro6
filtro6.to_csv("Filtro6.csv")

In [ ]:
filtro7=df.loc[["Suelo","Durango"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro7